PORT=4005
API_URL=locahost
TOKEN_KEY=abc

NODEMAILER_USERNAMER=elinore.grady27@ethereal.email
NODEMAILER_PASSWORD=RSdsjyxqj5MPjDxDQj

DB_HOST=localhost
DB_PORT=3306
DB_PASSWORD=newpassword
DB_USER=newuser
DB_NAME=hr
DB_DIALECT=mysql